<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>URL Shortner Microservice</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="container">
        <br />
        <br />
        <br />
        <div class="jumbotron text-center">
            <h3>URL Shortner Microservice</h3>
            <h4><a href="https://www.freecodecamp.com">Free Code Camp: APIs and Microservices</a></h4>
            <p id="demo"></p>
            <form action="/api/shorturl/new" method="post">
                <input type="text" name="url" id="url" placeholder="enter url">
                <br /><br />
                <button type="submit" href="#" id="button" class="btn btn-primary">Get ShortURL</button>
            </form>
        </div>
       
    </div>

    <script src="script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>